<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a href="https://api.whatsapp.com/send?phone=6285223273373">
          <i class="fab fa-whatsapp fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/makarim_institute/">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="https://makariminstitute.id">
          <i class="fa fa-globe fa-2x"></i>
        </a>
      </p>
      <p>© Makarim Institute</p>
    </div>
  </div>
</footer>
