<nav class="navbar is-white topNav">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Home
      </a>
      <div class="navbar-burger burger" data-target="topNav">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="topNav" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'program-list' %}">Program</a>
        <a class="navbar-item" href="/pages/info">Info</a>
        <a class="navbar-item" href="/pages/panduan">Panduan</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">

          {% if request.user.is_authenticated %}
          <div class="field is-grouped">
            <p class="control">
              <a href="{% url 'edit-profile' %}" class="button is-small">
                <span class="icon">
                  <i class="fa fa-user-edit"></i>
                </span>
                <span>
                  Edit Profile
                </span>
              </a>
            </p>
            <p class="control">
              <a href="/accounts/logout" class="button is-small is-info is-outlined">
                <span class="icon">
                  <i class="fa fa-user"></i>
                </span>
                <span>Logout</span>
              </a>
            </p>
          </div>
          {% else %}
          <div class="field is-grouped">
            <p class="control">
              <a href="{% url 'registration_register' %}" class="button is-small">
                <span class="icon">
                  <i class="fa fa-user-plus"></i>
                </span>
                <span>
                  Register
                </span>
              </a>
            </p>
            <p class="control">
              <a href="/accounts/login" class="button is-small is-info is-outlined">
                <span class="icon">
                  <i class="fa fa-user"></i>
                </span>
                <span>Login</span>
              </a>
            </p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
